
.icon-0:before { content: '\e800'; } /* '' */
.icon-parenthese1:before { content: '\e801'; } /* '' */
.icon-1:before { content: '\e802'; } /* '' */
.icon-2:before { content: '\e803'; } /* '' */
.icon-3:before { content: '\e804'; } /* '' */
.icon-4:before { content: '\e805'; } /* '' */
.icon-square_root-1:before { content: '\e806'; } /* '' */
.icon-square:before { content: '\e807'; } /* '' */
.icon-5:before { content: '\e808'; } /* '' */
.icon-6:before { content: '\e809'; } /* '' */
.icon-parenthese2:before { content: '\e80a'; } /* '' */
.icon-7:before { content: '\e80b'; } /* '' */
.icon-edit:before { content: '\e80c'; } /* '' */
.icon-sumatoria:before { content: '\e80e'; } /* '' */
.icon-equals:before { content: '\e80f'; } /* '' */
.icon-no_equals:before { content: '\e810'; } /* '' */
.icon-division2:before { content: '\e811'; } /* '' */
.icon-square_root2:before { content: '\e812'; } /* '' */
.icon-more:before { content: '\e813'; } /* '' */
.icon-percent:before { content: '\e815'; } /* '' */
.icon-multiplication:before { content: '\e816'; } /* '' */
.icon-division:before { content: '\e817'; } /* '' */
.icon-function:before { content: '\e818'; } /* '' */
.icon-less:before { content: '\e819'; } /* '' */
.icon-square_root:before { content: '\e81a'; } /* '' */
.icon-more_equals:before { content: '\e81b'; } /* '' */
.icon-less_equal:before { content: '\e81c'; } /* '' */
.icon-infinity:before { content: '\e81d'; } /* '' */
.icon-8:before { content: '\e81e'; } /* '' */
.icon-9:before { content: '\e81f'; } /* '' */
.icon-pi:before { content: '\e821'; } /* '' */
.icon-plus:before { content: '\e828'; } /* '' */
.icon-minus:before { content: '\e829'; } /* '' */